<div class="row show-grid">
  <div class="col-lg-9 col-md-9 col-sm-12">
    <nb-card>
      <nb-card-header>CPU利用率</nb-card-header>
      <nb-card-body>
        <cpu-utilization></cpu-utilization>
      </nb-card-body>
    </nb-card>

    <nb-card>
      <nb-card-header>网络速度</nb-card-header>
      <nb-card-body>
        <net-speed></net-speed>
      </nb-card-body>
    </nb-card>

  </div>
  <div class="col-lg-3 col-md-9 col-sm-12">
    <nb-card>
      <nb-card-header>CPU温度</nb-card-header>
      <nb-card-body>
        <ngx-gauge type="arch" cap="round" thick="8" [thresholds]="temperatureThreshold" [value]="temperature"
          append="℃">
        </ngx-gauge>
      </nb-card-body>
    </nb-card>
    <nb-card>
      <nb-card-header>内存占用</nb-card-header>
      <nb-card-body width="800px">
        <ngx-gauge type="arch" cap="round" thick="8" [thresholds]="memoryThreshold" [max]="memoryTotal"
          [value]="memoryUsed" [append]="memoryUnitName">
        </ngx-gauge>
        <div>已使用：{{ memoryUsed }}MiB</div>
        <div>总容量：{{ memoryTotal }}MiB</div>
      </nb-card-body>
    </nb-card>
  </div>
</div>